h3{	font-family: Lobster, Monospace;
	/*position: relative;*/
	/*top: 100px;
  	left:100px;*/
	color: red;
	 z-index: 3;
	 margin: 0;
   padding: 20px;
}
.menu{
  font-family: Pacifico, Monospace;
  position: absolute;
  top: 160px;
  left: 0px;
  width: 180px;
  background-color: #E6FFFF;
  height: 1000px;
  z-index: 10; 
}

.imgcenter{
      position: absolute;
      top: -160px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;
      }
.cuerpo{
  margin-left: 180px;
  padding: 15px;
  background-color: #ccffff;
  height: 600px;
  padding: 20px;
}
.barra{
  display: block;
  position: relative;
  top: 0px;
  right: 0px;
  width: 100%;
}